* {
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;

}
a{
    text-decoration: none;
}
body{
    font-family: 'Crimson Pro', serif;
    min-width: 320px;
}

.section_header{
    text-align: center;
    background: #580E26;
    background: rgba(88, 14, 38, 0.14);
    height: 160px;

}
.title_line{
    padding-top: 7px;
}

.title_text{
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;

    color: #000000;
}
.menu_section{
    display: inline-flex;
}
.menu_text{
    display: inline-flex;
    margin-top: 60px;

}
.menu_text a{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
    margin-right: 49px;
}
.menu-button{
    display: inline-flex;
    margin-top: 45px;
}
.menu-button-text{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}
.filter-button{
    width: 141px;
    height: 36px;
    background: none;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 57px;
    margin-right: 30px;
}
.sort-button{
    width: 143px;
    height: 36px;
    background: none;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 57px;
    margin-bottom: auto;
}
.container_section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding-top: 73px;
    padding-left: 225px;
    padding-right: 225px;

}

.title_1{

    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    color: #000000;

    padding-top: 60px;
}
.line_value{
    width: 56px;
    transform: rotate(12.75deg);
    margin-left: -67px;
}

.value{

    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #7E7E7E;
}
.old_value{

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;

    color: #7E7E7E;
    padding-left: 26px;
}
.new_value{

    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #E40000;
}
.product_name{

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
    padding-top: 12px;
}
.product_value{
    padding-top: 12px;
}
.see_more{
    width: 280px;
    height: 50px;
    display: block;
    margin-top: 105px;
    margin-left: auto;
    margin-right: auto;
    background: none;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 9px;
}
.see_more_text{

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    align-items: center;
    text-align: center;
    color: #7E7E7E;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 1200px) {
    .product3{
        display: none !important;
    }

}
@media (max-width: 990px) {
    .section_header{
        margin-top: 48px;
        height: 100px;
    }


    .products{
        padding-top: 21px;
    }
    .product2{
        display: none !important;
    }
    .product{
        padding-top: 21px;
        padding-left: 80px;
        padding-right: 80px;
    }
    .see_more{
        display: none !important;
    }
    .section_header{
        height: 150px;
    }

}
@media (max-width: 710px){
    .menu_text{
        display: none !important;
    }
}
@media (max-width: 440px){

}
