li{
    list-style-type: none;

}
a{
    text-decoration: none;
}
body{
    font-family: 'Crimson Pro', serif;
    min-width: 320px;
}
.header {
    width: 100%;

}
.header_top{
    height: 38px;
    background: #E0E0E0;
    display: flex;
}
.header-phone-number{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;

    color: #7E7E7E;
    margin-left: 155px;
    padding-top: 3px;
}
.top_ua_and_uah{
    margin-left: auto;
    margin-right: 30px;
    display: flex;
}
.ua{
    margin-right: 19px;
}
.polygon{
    align-items: center;
}
.line_header{
    display: inline-flex;
}
.UA{
    padding-top: 9px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #7E7E7E;
}
.UAH{
    padding-top: 9px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #7E7E7E;
}
/*.header_bottom{*/
/*    display: flex;*/

/*}*/
.header_bottom_nav{
    display: flex;
}

.name{
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 117px;
    color: #000000;
    margin-left: 150px;
}
.text_menu a{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;

    margin-right: 70px;
}
.icons_menu a{
    margin-right: 9px;

}

.menu{
    margin-top: 65px;
    margin-left: auto;
    margin-right: 70px;
}
footer{

    margin-top: 190px;
    height: 600px;
    background: linear-gradient(360deg, rgba(224, 224, 224, 0.45) 0%, rgba(224, 224, 224, 0) 98.58%);
}
.footer{
    padding-bottom: 150px;
}
.inst_foto{
    padding: 0;
    margin-top: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inst_foto img{
    height: 120px;
    width: 120px;
}
.instagram{
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 21px;

    text-align: center;
    color: black;
    display: block;

}
.contact{
    margin-top: 90px;
    display: flex;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;

    color: #7E7E7E;
}
.call_us {
    padding-left: 160px;
    flex: 2.3;
    margin-left: 5px;
}
.work {
    flex: 2;
}
.soc_media {
    flex: 2;

}
.call_us_icon{
    margin-left: 5px;
    vertical-align: 5px;
}
.line{
    display: inline-block;

}
.soc_media_icon{
    vertical-align: -5px;
    margin-right: 5px;
}
.contact_first_string{
    margin-top: 25px;
}
.contact_info{
    margin-top: 15px;
}

@media (max-width: 990px) {
    footer{
        margin-top: 68px;
        height: 480px;
    }
    .footer{
        padding-bottom: 41px;
    }

    .top_ua_and_uah{
        padding-right: 33px;
    }
    .header_menu{
        padding-top: 32px;
    }
    .contact{
        display: block;
        text-align: center;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-left: 0;
        margin-top: 38px;
    }
    .call_us{
        padding-left: 0;
        text-align: center;

    }
    .contact_first_string{
        margin-top: 12px;
    }
    .telegram{
        display: none !important;
    }
    .contact_info{
        margin-top: 4px;
    }
    .work{
        margin-top: 10px;
    }
    .soc_media{
        margin-top: 10px;
    }
    .soc_media_link{
        margin-top: 7px;
        display: inline-flex;
    }

    .inst_foto{
        margin-top: 25px;
    }
    .soc_media_icon{
        display: none !important;
    }
    .inst_icon{
        margin-right: 27px;
    }
    .facebook_icon{
        margin-top: 7px;
    }
    .text_menu{
        display: none !important;
    }


}
@media (min-width: 711px) {
    .menu_icon{
        display: none !important;
    }
}
@media (max-width: 710px) {

    .soc_media {
        flex: 1.2;
    }
    .name{
        font-size: 43px;
        line-height: 44px;
        position:absolute;
        width:100%;
        text-align:center;
        margin-top: 32px;
        margin-left: auto;

    }
    .menu_icon{
        margin-left: 40px;
        margin-top: 47px;
        width: 15px;
    }
    .menu{
        margin-top: 46px;
        margin-right: 27px;
    }
    .header-phone-number{
        font-size: 14px;
        line-height: 16px;
        margin-left: 40px;
        padding-top: 8px;
    }
    .UA{
        font-size: 14px;
        line-height: 16px;
    }
    .UAH{
        font-size: 14px;
        line-height: 16px;
    }
    .top_ua_and_uah{
        margin-right: 12px;
    }
    .header_top{
        height: 30px;
    }

}
@media (max-width: 440px) {
    .name {
        font-size: 36px;
    }
    .info {
        height: 210px;
    }


}
@media (min-width: 440px) {
    .call_us {
        display: block;
    }

}