li{
    list-style-type: none;

}
a{
    text-decoration: none;
}
body{
    font-family: 'Crimson Pro', serif;
    min-width: 320px;
}
.header-phone-number{
    width: 173px;
    height: 28px;
    padding-left: 70px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    margin: 0;

    color: #7E7E7E;
}
.top_ua_and_uah{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;

    display: flex;
    align-items: center;
    color: #7E7E7E;
    margin-left: auto;
    padding-right: 60px;

}
.top_ua_and_uah li{
    margin-right: 26px;

}
.header_top{
    /*width: 100%;*/
    /*max-width: 1400px;*/
    height: 30px;
    background: #E0E0E0;
    display: flex;

}
.name{
    font-family: 'IBM Plex Serif', serif;
    font-size: 80px;
    margin-top: 30px;
    padding-left: 80px;
    color: black;
}

.menu{
    position: absolute;
    right: 0;
    margin-top: 76px;
    display: flex;
}
.header_menu{
    display: inline-flex;
}
.text_menu{

    margin-left: auto;
    margin-right: 0;
    display: flex;

}
.text_menu li{
    margin-right: 60px;
}
.text_menu li a{
    text-decoration: none;
    color: #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 29px;
}
.icons_menu{

    display: flex;
    padding-right: 80px;

}
.icons_menu div{
    margin-right: 8px;
}
/*.icons{*/
/*    width: 23px;*/
/*    height: 23px;*/
/*}*/
footer{

    margin-top: 190px;
    height: 600px;
    background: linear-gradient(360deg, rgba(224, 224, 224, 0.45) 0%, rgba(224, 224, 224, 0) 98.58%);
}
.footer{
    padding-bottom: 150px;
}
.inst_foto{
    padding: 0;
    margin-top: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inst_foto img{
    height: 120px;
    width: 120px;
}
.instagram{
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 21px;

    text-align: center;
    color: black;
    display: block;

}
.contact{
    margin-top: 90px;
    display: flex;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;

    color: #7E7E7E;
}
.call_us {
    padding-left: 160px;
    flex: 2.3;
    margin-left: 5px;
}
.work {
    flex: 2;
}
.soc_media {
    flex: 2;

}
.call_us_icon{
    margin-left: 5px;
    vertical-align: 5px;
}
.line{
    display: inline-block;

}
.soc_media_icon{
    vertical-align: -5px;
    margin-right: 5px;
}
.contact_first_string{
    margin-top: 25px;
}
.contact_info{
    margin-top: 15px;
}
.poligon{
    margin-top: 16px;
}

@media (max-width: 990px) {
    footer{
        margin-top: 68px;
        height: 480px;
    }
    .footer{
        padding-bottom: 41px;
    }
    .text_menu{
        display: none !important;
    }
    .top_ua_and_uah li{
        margin-right: 11px;
    }
    .top_ua_and_uah{
        margin-right: 33px;
    }
    .header_menu{
        margin-top: 32px;
    }
    .contact{
        display: block;
        text-align: center;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-left: 0;
        margin-top: 38px;
    }
    .call_us{
        padding-left: 0;
        text-align: center;

    }
    .contact_first_string{
        margin-top: 12px;
    }
    .telegram{
        display: none !important;
    }
    .contact_info{
        margin-top: 4px;
    }
    .work{
        margin-top: 10px;
    }
    .soc_media{
        margin-top: 10px;
    }
    .soc_media_link{
        margin-top: 7px;
        display: inline-flex;
    }
    .name{
        font-size: 43px;
        line-height: 44px;
        position:absolute;
        width:100%;
        text-align:center;
        padding-left: 0;
        margin-top: auto;

    }
    .icons_menu{
        margin-top: -65px;
        margin-right: 0;
        padding-right: 27px;
    }
    .inst_foto{
        margin-top: 25px;
    }
    .soc_media_icon{
        display: none !important;
    }
    .inst_icon{
        margin-right: 27px;
    }
    .facebook_icon{
        margin-top: 7px;
    }



}
@media (max-width: 710px) {

    .soc_media {
        flex: 1.2;
    }


}
@media (max-width: 440px) {
    .name {
        font-size: 36px;
    }
    .info {
        height: 210px;
    }


}
@media (min-width: 440px) {
    .call_us {
        display: block;
    }

}