
* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Crimson Pro', serif;
    min-width: 320px;

}
li{
    list-style-type: none;

}
a{
    text-decoration: none;
}
.front_foto{

    max-width: 1600px;
    margin-top: 50px;

    max-height:500px;
    padding: 0;
}
.section_title{

    text-align: center;

    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 35px;
}
.title_line{
    padding-top: 2px;
    width: 155px;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
section{
    margin-top: 90px;
}
.container_section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    overflow: hidden;
    padding-top: 94px;

}
.space_product{
    padding-right: 33px;
}
.pointer_left{
    margin-left: 98px;
    width: 30px;
    height: 86px;
    margin-right: 33px;
}
.pointer_right{
    margin-right: 98px;
    width: 30px;
    height: 86px;
}
.product_name{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #000000;
    padding-top: 8px;
    text-align: center;
    margin-left: -30px;
}
.product_value{

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #7E7E7E;
    margin-left: -30px;
}
.see_more{
    width: 280px;
    height: 50px;
    display: block;
    margin-top: 105px;
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
    border: 1px solid rgba(196, 196, 196, 0.5);
    box-sizing: border-box;
    border-radius: 9px
}
.see_more_text{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    align-items: center;
    color: #7E7E7E;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 1200px) {
    .product4{
        display: none !important;
    }

}
@media (max-width: 990px) {
    .front_foto{
        padding-top: 45px;
    }
    .product3{
        display: none !important;
    }
    /*body{*/
    /*    height: 1800px;*/
    /*}*/

}
@media (max-width: 710px) {
    .title_line{
        width: 75px;
    }
    .product2{
        display: none !important;
    }
    .container_section{
        padding-top: 31px;
    }
    section{
        margin-top: 50px;
    }
    .section_title{
        font-size: 20px;
    }
    .see_more{
        width: 127px;
        height: 27px;
        margin-top: 30px;
    }
    .see_more_text{
        font-size: 14px;
    }
    .pointer_left{
        display: none !important;
    }
    .pointer_right{
        display: none !important;
    }

}
@media (max-width: 440px) {
    .section_title{
        font-size: 14px;
        line-height: 16px;
    }

}



